<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home OEMS</title>
</head>
<body>
    <h1>Office Employee Management System</h1>
    <hr>
    <a href="all_emp"><button type="button">All Employees</button></a>
    <a href="add_emp"><button type="button">Add Employee</button></a>
    <a href="remove_emp"><button type="button">Remove Employee</button></a>
    <a href="filter_emp"><button type="button">Filter Employee</button></a>

</body>
</html>